<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Notes</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
      body {background: url("/images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg"); background-size: 100%;}
    </style>
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
        <header id="home">
              <nav class="topnav" id="myTopnav">
                  <a href="#home" class="active">Home</a>
                  <a href="#login">Log In</a>
                  <a href="#signup">Sign Up</a>
                  <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
                      <i class="fas fa-bars"></i>
                    </a>
              </nav>
      <h1> Music Notes </h1>
    </header>
    <main class="container container-fluid mt-5">
      <!--{{{ body }}}-->
      

    </main>

    <footer>
        
    </footer>
  </body>




</html>