<div class="bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-black" aria-current="page" href="/portal/calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=bXVzaWNub3Rlc2xlc3NvbnNAZ21haWwuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;title=Lesson%20Schedule&amp;showPrint=0&amp;showCalendars=1" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>


<script src="../public/js/calendar.js"></script>