<div class="bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal/calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/portal/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to Student Management!</h3>
            <!-- We need a form or series of forms that can do the following things:
                Drop down list of existing students:  STUDENT NAMES (get req)
                Add a comment for selected student: post req
                View History of comments: get req
                Edit an existing comment: put req
                Delete a comment: delete req
            -->

    </div>

</div>