<div class="bg-light p-3">
    <!--Portal Nav-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/portal">Portal Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/portal/students">Manage Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/portal/schedule">Manage Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/portal/calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/portal/comments"> Lesson Comments</a>
        </li>
    </ul>

    <!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to Student Management!</h3>
        <!-- We need a form or series of forms that can do the following things:
                Drop down list of existing students:  STUDENT NAMES (get req)
                Add a comment for selected student: post req

                View History of comments: get req
                Edit an existing comment: put req
                Delete a comment: delete req
            -->
            {{!-- to do: get req to poulate students --}}
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">Student Name</option>
            <!--Grab the student id from the value-->
            <option value="2">Student Name 2</option>
            <option value="3">Student Name 3</option>
        </select>
        {{!-- to do: get req to populate comment history --}}
        {{!-- to do: change alert in public comment.js to modal --}}
        <div class="form-group">
            <label for="commentTextarea">Add a Comment</label>
            <textarea class="form-control" id="commentTextarea" rows="3"></textarea>

        </div>

    </div>

</div>

<!--
    When the route for this page is hit, we can send along the list of students. that will be used to populate the drop down. to view all existing students.
    User can then select a student…the page script will then fetch the comments for that student. and populate the UI
    The UI will allow the user to edit a comment..on edit of that comment a put request will be sent to update that comment.
    the UI will have a delete button on a comment that will send a delete request
    -->