<!-- This is what users will see when the first load the application -->

<div class="jumbotron">
    <h1 class="text-center">Welcome to <i class="fas fa-play-circle"></i> Music Notes</h1>
    <p class="text-center">An interactive platform for music teachers and students to communicate helpful information.</p>
</div>