<!-- This is what users will see when the first load the application -->

<div class="jumbotron">
    <h1>Welcome to Music Notes</h1>
    <p>An interactive platform for music teachers and students to communicate helpful information.</p>
</div>