<div class="row bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active text-black" aria-current="page" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to the teacher portal!</h3>
        <p>Use the above tabs to:</p>
        <ul>
            <li>Manage Students: Add and Remove Students, Update existing student information</li>
            <li>Manage Schedules: Select students to view their scheduled lessons. Add lessons to the schedule. Update and cancel lessons.</li>
            <li>Lesson Comments: Write lesson comments to your students and view history of lesson comments.</li>
        </ul>

    </div>

</div>