<div class="row bg-light p-3">
<!--Portal Nav-->
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/portal">Portal Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/students">Manage Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-black" aria-current="page" href="/schedule">Manage Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black-50" href="/comments" > Lesson Comments</a>
    </li>
    </ul>

<!--Portal Content-->
    <div class="my-4">
        <h3>Welcome to Schedule Management!</h3>
            <!-- We need a form or series of forms that can do the following things:
            Drop down list of existing students:  STUDENT NAMES (get req)
            View existing lessons: get req
            Add a lesson for selected student: post req
            Change an existing lesson: put req
            Cancel a lesson: delete req
            -->

    </div>

</div>