  
  /* CARDS */
.calendar-card {
    margin: 20px;
    flex: 1 1 300px;
  }

.calendar-card-header {
    font-size: 1.5rem;
    color: var(--tertiary);
    margin: 3;
    padding: 0.625rem;
    border-bottom-style: solid;
    text-align: center;
  }

  
   /* LAYOUT */
   .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
